.comment-card-cta {
  display: flex;
  flex-direction: column;
  border: 2px groove lightblue;
  padding: 1rem;
  width: 60rem;
  margin: 0 auto;
}


.comment-add-form-cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.comment-add-form {
  display: flex;
  margin: 0 auto;
  padding-top: 4.5rem;
  
}

.comment-textarea { 
  width: 45rem;
  /* padding: 1rem; */
  display: flex;
  height: 1.5rem;
  border: 2px groove lightblue;
    padding-bottom: 2.5rem;

}

.comment-card-top-wrap {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightblue;
}