.comment-card-cta {
  display: flex;
  flex-direction: column;
  border: 1px dashed green;
  padding: 2.5rem;
  width: 40rem;
}


.comment-add-form-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.comment-add-form {
  display: flex;
  margin-bottom: 2rem;

  
}

.comment-textarea { 
  width: 60rem;
  padding: 2rem;
  display: flex;
  height: 2rem;
  border: 1px dashed green;

}

