.header-title {
    text-align: center;

}

h2.header-title {
    position: relative;
    padding-bottom: 2.5rem;

}

.header-cta {


}

.header-link-nav {
    display: flex;
    margin: 1rem 4rem 1rem 4rem;
    text-decoration: none;
    font-size: 2rem;
    min-width:100wv;

}

nav.nav-link-wrap {
        display: flex;
        justify-content: right;
        border: 1px solid black;
        width: 100vw;
        flex-direction: row-reverse;
}

.nav-logout-wrap{
    display: flex;
    margin-top: 1rem;
    align-items: center;
    justify-content: space-around;
    min-width: 100vw;
    text-align: center;
    
}

.header-btn-logout{
      padding: 0.25rem 1rem 0.25rem 1rem;
      font-size: 1.4rem;
      font-weight: 500;
      border-radius: 0.5rem;
   
}

