.home-cta {
  min-height: fit-content;
  min-width: fit-content;
  display: flex;
  justify-self: center;
}
.home-wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  align-items: center;
}

.title-nav-wrap {
  display: flex;
  flex-direction: column;
}

.home-header {
  font-size: 4.5rem;
  padding-bottom: 2.4rem;
  font-style: italic;
}
