.main-cta-list {
  border: 1px ghostwhite groove;
  padding: 3.2rem;
  width: 70rem;
}

.post_author_text {
  font-weight: 600;
  /* padding-bottom: 2.1rem; */
  font-style: italic;
}

.page_title {
  font-size: 3.2rem;
}

.post_content_text {
  font-size: 2.1rem;
  padding: 2.1rem;
}

.post-list-cta {
  display: flex;
  flex-direction: column-reverse;
}
